Source: liblightmodbus
Priority: optional
Maintainer: Jacek Wieczorek <mrjjot@gmail.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/Jacajack/liblightmodbus

Package: liblightmodbus-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A lightweight, cross-platform Modbus RTU library.
 The liblightmodbus is a C library providing set of utilities
 to parse and build Modbus RTU frames - it's not responsible
 for sending or receiving the data. It is designed
 to be platform independent and highly configurable. The most important
 thing about the configuration is that the user can specifically pick,
 which library routines he/she wants to be included during customized build.
 Features like this one shall enable it to be built for whole variety
 of different devices, including the embedded ones (like Atmel AVR).
